@charset "utf-8";


/* 円が消えた後に、下のコンテンツを触れるようにするための設定 */
.circle {
    pointer-events: none;
}

.circle .animation-bg {
    background: #7BBE82;
    /* あなたのブランドカラーですね */
    position: fixed;
    z-index: 9999;
    /* 他のどの要素よりも上に表示させる */
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    /* アニメーションの指示 */
    animation-name: PageAnime-circle;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* アニメーションの中身：巨大(100倍)から消失(0)へ */
@keyframes PageAnime-circle {
    0% {
        transform: scale(100);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
    }
}



footer ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}






body {
    background: #7BBE82;
}

.pc_nav a {
    /* 下準備：アニメーションを滑らかにするため */
    background-image: linear-gradient(yellow, yellow);
    background-repeat: no-repeat;
    background-position: center left;
    /* 線の開始位置 */
    background-size: 0% 30%;
    /* 最初は横幅0%、高さ40%（線の太さ） */
    transition: background-size 0.3s;

    display: inline;
    /* インライン要素に適用 */
    text-decoration: none;
}

.pc_nav a:hover {
    cursor: pointer;
    background-size: 100% 40%;
}

.pc_p:hover,
.removebutton button:hover,
.button2 button:hover,
.more_p button:hover {
    cursor: pointer;
    background-color: #FFFCB8;
}


.header_wrap img {
    transition: opacity 0.3s;
}

.header_wrap img:hover {
    opacity: 0.7;
}





.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 2% 0;
    width: 100%;
    box-sizing: border-box;
}

.header_wrap p,
.pc_nav {
    background: #ffffff;
    padding: 25px 52px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    color: #2c5530;
    font-family: "Zen Maru Gothic";
    border: 2px #333333 solid;
}


.pc_nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.pc_nav li,
.pc_p {
    color: #2c5530;
    font-family: "Zen Maru Gothic";
    font-weight: 700;
}

/* スマホ版メニュー */
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(144, 190, 153);
    z-index: 1;
}

.sp_nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.sp_nav li {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    font-family: "Zen Maru Gothic";
}

.sp_nav,
.pc_p .sp_btn {
    display: none;
}

.pc_p {
    padding: 25px 52px;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Zen Maru Gothic";
    cursor: pointer;
    border: 2px #333333 solid;
}

@media screen and (max-width:1175px) {

    .pc_nav,
    .pc_p {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 40.5px;
        height: 2px;
        background-color: #ffffff;
        position: relative;
        top: 10px;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40.5px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }
}

h2 {
    color: #2c5530;
    font-family: "Zen Maru Gothic";
    font-size: 36px;
    margin-top: 144px;
    text-align: center;
}

section {
    text-align: center;
}

.myprofile img {
    margin-top: 50px;
    border: 3px solid #ffffff;
    border-radius: 50px;
    padding: 7px;
    width: 550px;
}

.myname {
    margin-top: 40px;
    margin-bottom: 150px;
}

.myname p {
    color: #333333;
    font-family: "Zen Maru Gothic";
    font-weight: 500;
    line-height: 1.5;
}

.name {
    font-size: 32px;
}

.nameen {
    font-size: 16px;
}

.reason h3,
.reason p {
    font-family: "Zen Maru Gothic";
    color: #ffffff;
}

.reason h3 {
    font-size: 36px;
    margin-bottom: 48px;
}

.reason p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 144px;
}

.mydream h3,
.mydream p {
    font-family: "Zen Maru Gothic";
    color: #ffffff;
}

.mydream h3 {
    font-size: 36px;
    margin-bottom: 48px;
}

.mydream p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 136px;
}

.reason {
    position: relative;
}

.about_pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    z-index: -1;
}

.removebutton button {
    background: #ffffff;
    padding: 15px 45px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 176px;
}

.removebutton {
    text-align: center;
}

.greenfootprints img {
    display: block;
    margin: 0 auto;
    margin-bottom: 128px;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-family: "Zen Maru Gothic";
    font-weight: bold;
    color: #2C5530;
    font-size: 16px;
    margin-bottom: 38px;
    text-align: center;
    cursor: pointer;
}

.logoblack img {
    display: block;
    margin: 0 auto;
    width: 28%;
    margin-bottom: 87px;
}

/* ばつ用 */
.sp_btn.open span {
    background: transparent;
}

.sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
}

@media screen and (max-width:1175px) {

    .reason,
    .mydream {
        position: relative;
    }

    .about_sp1 {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 85%;
        z-index: -1;
    }

    .about_sp2 {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 92%;
        z-index: -1;
    }

    .horizontal-bar {
        width: 290px;
        height: 1px;
        background: #ffffff;
        margin: 0 auto;
        position: relative;
    }

    /* 左側の丸 */
    .horizontal-bar::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    /* 右側の丸 */
    .horizontal-bar::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 50%;
        transform: translate(50%, -50%);
    }

    .reason h3,
    .mydream h3 {
        margin-bottom: 5px;
    }

    .reason p,
    .mydream p {
        margin-top: 20px;
    }


    .myprofile img {
        width: 67%;
    }

    h2 {
        font-size: 24px;
    }

    .name {
        font-size: 24px;
    }

    .nameen {
        font-size: 14px;
    }

    .reason h3,
    .mydream h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
    }

    .reason p,
    .mydream p {
        line-height: 2;
    }

    .about_pc {
        display: none;
    }
}

@media screen and (min-width:1175px) {

    .sp_br,
    .about_sp1,
    .about_sp2 {
        display: none;
    }
}

@media screen and (max-width:475px) {
    .header_wrap img {
        width: 80%;
    }
}