@charset "utf-8";



body {
    background: linear-gradient(#61bb6a, #d3e6d5);
}

.mainvisual {
    color: #ffffff;
}


.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 2% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_wrap p,
.pc_nav {
    background: #ffffff;
    padding: 25px 52px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    color: #2c5530;
    font-family: "Zen Maru Gothic";
}


.pc_nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.pc_nav li {
    color: #2c5530;
    font-family: "Zen Maru Gothic";
}

/* スマホ版メニュー */
.sp_nav,
.pc_p .sp_btn {
    display: none;
}

@media screen and (max-width:1175px) {

    .pc_nav,
    .pc_p {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 20px;
    }

    .sp_btn span {
        display: block;
        width: 40.5px;
        height: 2px;
        background-color: #ffffff;
        position: relative;
        top: 10px;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40.5px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }
}


h1 {
    color: #ffffff;
    font-family: "Hanalei";
    font-size: 150px;
    text-align: center;
    margin-top: 336px;
    margin-bottom: 36px;
}

.name p {
    color: #ffffff;
    font-family: "Zen Maru Gothic";
    font-weight: medium;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 200px;
    font-size: 36px;
}

.concept p {
    color: #ffffff;
    font-family: "Zen Maru Gothic";
    font-weight: normal;
    width: 500px;
    margin: 0 auto;
    line-height: 1.75;
    text-align: center;
    margin-bottom: 1em;
}

.mainmountain img {
    display: block;
    margin: 0 auto;
    width: 83%;
}

.concept {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.grassland img {
    display: block;
    margin-left: 70%;
    top: 0;
    width: 21%;
    position: relative;
    top: 120px;
}

.button {
    margin-top: 80px;
}

.button,
.yellowfootprints {
    margin-bottom: 150px;
}

.button,
.button2 {
    text-align: center;
}

.button button,
.button2 button {
    background: #ffffff;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}

.yellowfootprints img {
    display: block;
    margin: 0 auto;
    width: 7%;
}

h2 {
    color: #2C5530;
    font-family: "Zen Maru Gothic";
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.myfavorit {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 70px;
}

.myfavorit img {
    width: 21%;
}

.climber img {
    display: block;
    margin: 0 auto;
    width: 17%;
    margin-bottom: 210px;
}

.productionresults_pc>img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 81px;
    margin-bottom: 72px;
}

.productionresults_pc {
    position: relative;
}

.bear img {
    width: 25%;
    position: absolute;
    left: 55%;
    top: 60%;
}

.button2 {
    margin-bottom: 390px;
}

.skill-card p {
    color: #2C5530;
    /* border-left: 1px solid #94C999; */
    font-family: "Zen Maru Gothic";
    font-weight: normal;
    padding-left: 15px;
    align-items: center;
    background-color: #ffffff;
    width: 205px;
    height: 50px;
    align-items: center;
    display: flex;
    gap: 15px;
    border-radius: 5px;
}

.skill-card p::before {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background-color: #94c999;
}

.skill-card {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: fit-content;
    margin: 0 auto;
}

.skill1,
.skill2,
.skill3 {
    display: flex;
    align-items: center;
    gap: 60px;
    z-index: 2;
}

.skill1 {
    margin-top: 85px;
}

.skill-top {
    position: relative;
}

.mountainillustration img {
    display: block;
    margin: 0 auto;
    width: 111%;
    margin-bottom: 104px;
    position: absolute;
    top: 55%;
    z-index: 1;
}

.greenfootprints img {
    display: block;
    margin: 0 auto;
    width: 7%;
    margin-bottom: 150px;
    margin-top: 40%;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-family: "Zen Maru Gothic";
    font-weight: bold;
    color: #2C5530;
    font-size: 16px;
    margin-bottom: 38px;
    text-align: center;
}

.logoblack img {
    display: block;
    margin: 0 auto;
    width: 28%;
}


footer {
    position: relative;
    padding-bottom: 96px;
}

.sun img {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 38%;
}

.cloud img {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 38%;
}